.container{
  
    text-align: center;
    /* background-image: url('../../fondoloeader1.jpg'); 
    background-size: 100% 100%;
    height: 100% ; */
     /* background-position: 100%; */
     width: 100%;
    padding: 0%;
    background-color: black;
    background-size: 100% 100%;
    min-height: 100vh;
   }

   .orderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

   }

   .card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
   justify-content: center;
   gap: 36px;
   margin-top: 3%;
    padding: 28px;
    
   }
   

   .az {
    background: transparent;
    
    padding: 5px 5px;
    font-size: large;
    color: #ee9830;
    border: 2px solid #7962c5;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    background-color: rgba(24, 22, 22, 0.6)
   }

   .az:hover {
    background: fixed;
    background-color: aliceblue;
    color: rgb(68, 66, 66);
    cursor: pointer;
   }

   /* .azcon {
  position: relative;
  right: 300px;
  

   } */

   .rating {
    background: transparent;
    
    padding: 5px 5px;
    font-size: large;
    color: #ee9830;
    border: 2px solid #7962c5;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    background-color: rgba(24, 22, 22, 0.6)
    
   }

   .rating:hover {
    background: fixed;
    background-color: aliceblue;
    color: rgb(68, 66, 66);
    cursor: pointer;
    
   }

 
   

   .gen {
    background: transparent;
    
    padding: 5px 5px;
    font-size: large;
    color: #ee9830;
    border: 2px solid #7962c5;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    background-color: rgba(24, 22, 22, 0.6)
   }

   .gen:hover{

    background: fixed;
    background-color: aliceblue;
    color: rgb(68, 66, 66);
    cursor: pointer;
   }

   



   .loading {
     background: url('../../fondoloeader1.jpg');
     
   }

   .reset {
    
     background: transparent;
     font-size: 18px;
     color: #ee9830;
     border: 2px solid #7962c5;
     border-radius: 5px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color: rgba(24, 22, 22, 0.6);
    padding: 6px 12px;
    
   }

   .reset:hover {
    background: fixed;
    background-color: aliceblue;
    color: rgb(68, 66, 66);
    cursor: pointer;
   }

   .apidb {
    background: transparent;
    font-size: large;
    color: #ee9830;
    border: 2px solid #7962c5;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 36px;
   
    background-color: rgba(24, 22, 22, 0.6)
   }

   .apidb:hover {
    background: fixed;
    background-color: aliceblue;
    color: rgb(68, 66, 66);
    cursor: pointer;
   }


   @media screen and (max-width: 830px){
    .orderContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      flex-direction: column;
     }
  
   }
   