
.container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    margin-top: 26px;
}

.container button {
    color: rgb(226, 160, 84);
    border-radius: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color .3s;
    border: solid 1px;
    background-color: rgba(24, 22, 22, 0.7);
    cursor: pointer;
    padding: 8px 12px;

}

.container button:hover {
    background: fixed;
    background-color: aliceblue;
    color: rgb(68, 66, 66);
}