.Container{
    background-color: rgba(255, 0, 0, 0.5);
    height: 50px;
    padding: 10px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 18px;
    z-index: 100;
    color: aliceblue;
    position: absolute;
    width: 97vw ;
}

.Container a{
    padding: 5px;
    margin: 5px;
    width: 100px;
    font-size: large;
    border-radius: 5px;
    
    color: #ee9830;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .form {
    padding: 5px;
    margin: 5px;
    width: 100px;
    font-size: medium;
    top: 1%;
    background-color: transparent;
    color: #ee9830;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    position: absolute;
    left: 12.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.about {
    padding: 5px;
    margin: 5px;
    width: 100px;
    font-size: large;
    top: 15%;
    background-color: transparent;
    color: #ee9830;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    position: absolute;
    left: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} */

